    <!-- Footer Section    S T A R T -->
    <footer class="footer-section bg-title fix">
        <div class="footer-widgets-wrapper">
            <div class="shape1 float-bob-y d-none d-xxl-block"><img src="assets/img/shape/footerShape1_1.png"
                    alt="shape"></div>
            <div class="shape2 d-none d-xxl-block"><img src="assets/img/shape/footerShape1_2.png" alt="shape"></div>
            <div class="shape3 d-none d-xxl-block"><img src="assets/img/shape/footerShape1_3.png" alt="shape"></div>
            <div class="shape4  d-none d-xxl-block"><img src="assets/img/shape/footerShape1_4.png" alt="shape"></div>
            <div class="container">
                <div class="footer-top">
                    <div class="row gy-4">
                        <div class="col-lg-4">
                            <div class="fancy-box">
                                <div class="item1"><i class="fa-solid fa-location-dot"></i></div>
                                <div class="item2">
                                    <h6>dirección</h6>
                                    <p>4648 Rocky Road Philadelphia </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-start justify-content-lg-end">
                            <div class="fancy-box">
                                <div class="item1"><i class="fa-solid fa-envelope"></i></div>
                                <div class="item2">
                                    <h6>envíanos un correo</h6>
                                    <p>info@exmple.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-start justify-content-lg-end">
                            <div class="fancy-box">
                                <div class="item1"><i class="fa-regular fa-phone-volume"></i></div>
                                <div class="item2">
                                    <h6>llamada de emergencia</h6>
                                    <p>+88 0123 654 99</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <a routerLink="/">
                                    <img src="assets/img/logo/logoWhite.svg" alt="logo-img">
                                </a>
                            </div>
                            <div class="footer-content">
                                <p>
                                    Disfruta sabores preparados con dedicación, ingredientes frescos y la mejor
                                    atención para cada momento.
                                </p>
                                <div class="social-icon d-flex align-items-center">
                                    <a href="index-2.html#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="index-2.html#"><i class="fab fa-twitter"></i></a>
                                    <a href="index-2.html#"><i class="fa-brands fa-linkedin-in"></i></a>
                                    <a href="index-2.html#"><i class="fa-brands fa-youtube"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 ps-xl-5 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>Enlaces rápidos</h3>
                            </div>
                            <ul class="list-area">
                                <li>
                                    <a routerLink="/about">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Nosotros
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery.html">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Nuestra galería
                                    </a>
                                </li>
                                <li>
                                    <a href="blog.html">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Nuestro blog
                                    </a>
                                </li>
                                <li>
                                    <a href="faq.html">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Preguntas frecuentes
                                    </a>
                                </li>
                                <li>
                                    <a href="contact.html">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Contáctanos
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 ps-xl-5 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>Nuestro menú</h3>
                            </div>
                            <ul class="list-area">
                                <li>
                                    <a routerLink="/menu">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Burger King
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/menu">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Pizza King
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/menu">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Comida fresca
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/menu">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Vegetales
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/menu">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Postres
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 ps-xl-5 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>Contáctanos</h3>
                            </div>
                            <ul class="list-area">
                                <li class="mb-2">
                                    Lunes a viernes: <span class="text-theme-color2"> 8am – 4pm </span>
                                </li>
                                <li>
                                    Sábado: <span class="text-theme-color2"> 8am – 12am </span>
                                </li>
                            </ul>
                            <form action="index-2.html#" class="mt-4">
                                <div class="form-control">
                                    <input class="email" type="email" placeholder="Tu correo electrónico">
                                    <button type="submit" class="submit-btn"><i
                                            class="fa-solid fa-arrow-right-long"></i></button>
                                </div>
                                <div class="form-control style2 mt-3">
                                    <input id="checkbox" name="checkbox" type="checkbox">
                                    <label for="checkbox">Acepto la <a href="contact.html">Política de privacidad.
                                        </a></label>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-wrapper d-flex align-items-center justify-content-between">
                    <p class="wow fadeInLeft" data-wow-delay=".3s">
                        © Todos los derechos reservados 2024 por <a routerLink="/">FreshEat</a>
                    </p>
                    <ul class="brand-logo wow fadeInRight" data-wow-delay=".5s">
                        <li>
                            <a class="text-white" href="contact.html">
                                Términos y condiciones
                            </a>
                        </li>
                        <li>
                            <a class="text-white" href="contact.html">
                                Política de privacidad
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
