    <!-- Footer Section    S T A R T -->
    <footer class="footer-section bg-title fix">
        <div class="footer-widgets-wrapper">
            <div class="shape1 float-bob-y d-none d-xxl-block"><img src="assets/img/shape/footerShape1_1.png"
                    alt="shape"></div>
            <div class="shape2 d-none d-xxl-block"><img src="assets/img/shape/footerShape1_2.png" alt="shape"></div>
            <div class="shape3 d-none d-xxl-block"><img src="assets/img/shape/footerShape1_3.png" alt="shape"></div>
            <div class="shape4  d-none d-xxl-block"><img src="assets/img/shape/footerShape1_4.png" alt="shape"></div>
            <div class="container">
                <div class="footer-top">
                    <div class="row gy-4">
                        <div class="col-lg-4">
                            <div class="fancy-box">
                                <div class="item1"><i class="fa-solid fa-location-dot"></i></div>
                                <div class="item2">
                                    <h6>dirección</h6>
                                    <p>{{ branchService.selectedBranch().address ?? 'Dirección no disponible' }}</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-start justify-content-lg-end">
                            <div class="fancy-box">
                                <div class="item1"><i class="fa-solid fa-envelope"></i></div>
                                <div class="item2">
                                    <h6>WhatsApp</h6>
                                    @if (branchService.selectedBranch().whatsApp; as whatsApp) {
                                        <p><a [href]="branchService.selectedBranch().whatsAppUrl" target="_blank" rel="noopener noreferrer" [attr.aria-label]="'Escribir por WhatsApp a Mercagán ' + branchService.selectedBranch().name">{{ whatsApp.display }}</a></p>
                                    } @else {
                                        <p>WhatsApp no disponible</p>
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 d-flex justify-content-start justify-content-lg-end">
                            <div class="fancy-box">
                                <div class="item1"><i class="fa-regular fa-phone-volume"></i></div>
                                <div class="item2">
                                    <h6>teléfono principal</h6>
                                    <p><a [href]="branchService.selectedBranch().primaryPhone.telHref" [attr.aria-label]="'Llamar a Mercagán ' + branchService.selectedBranch().name + ' al ' + branchService.selectedBranch().primaryPhone.display">{{ branchService.selectedBranch().primaryPhone.display }}</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay=".2s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <a routerLink="/">
                                    <img src="assets/img/logo/logoWhite.svg" alt="logo-img">
                                </a>
                            </div>
                            <div class="footer-content">
                                <p>
                                    Disfruta sabores preparados con dedicación, ingredientes frescos y la mejor
                                    atención para cada momento.
                                </p>
                                <div class="footer-social-icons" aria-label="Redes sociales de Mercagán">
                                    <span title="TikTok"><i class="fa-brands fa-tiktok" aria-hidden="true"></i><span class="visually-hidden">TikTok</span></span>
                                    <span title="Instagram"><i class="fa-brands fa-instagram" aria-hidden="true"></i><span class="visually-hidden">Instagram</span></span>
                                    <span title="Facebook"><i class="fa-brands fa-facebook-f" aria-hidden="true"></i><span class="visually-hidden">Facebook</span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 ps-xl-5 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                                <h3>Enlaces rápidos</h3>
                            </div>
                            <ul class="list-area">
                                <li>
                                    <a routerLink="/about">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Nosotros
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/menu">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Menú
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/ubicaciones">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Ubicaciones
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 ps-xl-5 wow fadeInUp" data-wow-delay=".4s">
                        <div class="single-footer-widget">
                            <div class="widget-head">
                            <h3>Tu pedido</h3>
                            </div>
                            <ul class="list-area">
                                <li>
                                    <a routerLink="/cart">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Ver carrito
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/checkout">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Finalizar pedido
                                    </a>
                                </li>
                                <li>
                                    <a routerLink="/login">
                                        <i class="fa-solid fa-chevrons-right"></i>
                                        Iniciar sesión
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="footer-wrapper d-flex align-items-center justify-content-between">
                    <p class="wow fadeInLeft" data-wow-delay=".3s">
                        © Todos los derechos reservados 2026 por <a routerLink="/">Mercagán</a>
                    </p>
                </div>
            </div>
        </div>
    </footer>
