    <!-- Offer Section   S T A R T -->
    <div class="offer-section section-padding pb-0 fix bg-color2">
        <div class="offer-wrapper">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-6 col-xl-4">
                        <div class="offer-card style1 wow fadeInUp" data-wow-delay="0.2s"
                            style="background-image: url(assets/img/bg/offerBG1_1.jpg);">
                            <div class="offer-content">
                                <h6>DESDE 1999</h6>
                                <h3>SABOR SANTANDEREANO</h3>
                                <p>Tradición alrededor de la parrilla</p>
                                <a routerLink="/menu" class="theme-btn style4">
                                    ORDER NOW <i class="fa-sharp fa-regular fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="offer-thumb">
                                <img class="thumbImg" src="assets/img/offer/offerThumb1_1.png" alt="thumb">
                                <div class="shape float-bob-x"><img src="assets/img/shape/offerShape1_4.png"
                                        alt="shape"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="offer-card style1 wow fadeInUp" data-wow-delay="0.5s"
                            style="background-image: url(assets/img/bg/offerBG1_1.jpg);">
                            <div class="offer-content">
                                <h6>ESPECIALIDAD MERCAGÁN</h6>
                                <h3>CORTES A LA PARRILLA</h3>
                                <p>Carnes seleccionadas</p>
                                <a routerLink="/menu" class="theme-btn style5">
                                    ORDER NOW <i class="fa-sharp fa-regular fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="offer-thumb">
                                <img class="thumbImg" src="assets/img/offer/offerThumb1_2.png" alt="thumb">
                                <div class="shape float-bob-x"><img src="assets/img/shape/offerShape1_4.png"
                                        alt="shape"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="offer-card style1  wow fadeInUp" data-wow-delay="0.7s"
                            style="background-image: url(assets/img/bg/offerBG1_1.jpg);">
                            <div class="offer-content">
                                <h6>NUESTRA PROPUESTA</h6>
                                <h3>HAMBURGUESAS Y CARNES</h3>
                                <p>Opciones para disfrutar en familia</p>
                                <a routerLink="/menu" class="theme-btn style4">
                                    ORDER NOW <i class="fa-sharp fa-regular fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="offer-thumb">
                                <img class="thumbImg" src="assets/img/offer/offerThumb1_3.png" alt="thumb">
                                <div class="shape float-bob-x"><img src="assets/img/shape/offerShape1_4.png"
                                        alt="shape"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About Us Section   S T A R T -->
    <section class="about-us-section fix section-padding pt-0">
        <div class="about-wrapper style2">
            <div class="shape1 d-none d-xxl-block"><img src="assets/img/shape/aboutShape2_1.png" alt="shape"></div>
            <div class="container">
                <div class="about-us section-padding">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-xl-start">
                            <div class="about-thumb mb-5 mb-lg-0">
                                <img src="assets/img/about/aboutThumb2_1.png" alt="thumb">
                                <div class="video-wrap">
                                    <a href="https://www.youtube.com/watch?v=f2Gzr8sAGB8"
                                        class="play-btn popup-video"><img class="cir36"
                                            src="assets/img/shape/player.svg" alt="icon"></a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="title-area">
                                <div class="sub-title text-start wow fadeInUp" data-wow-delay="0.5s">
                                    <img class="me-1" src="assets/img/icon/titleIcon.svg" alt="icon">NOSOTROS<img
                                        class="ms-1" src="assets/img/icon/titleIcon.svg" alt="icon">
                                </div>
                                <h2 class="title text-start wow fadeInUp" data-wow-delay="0.7s">
                                    Parrilla con origen santandereano
                                </h2>
                                <div class="text text-start wow fadeInUp" data-wow-delay="0.8s">Mercagán comparte desde
                                    1999 carnes de novillos de Santander. Su propuesta reúne cortes de carne a la
                                    parrilla y hamburguesas, con sedes en Santander y Bogotá.</div>
                            </div>
                            <div class="fancy-box-wrapper">
                                <div class="fancy-box">
                                    <div class="item"><img src="assets/img/icon/aboutIcon1_1.svg" alt="icon"></div>
                                    <div class="item">
                                        <h6>Carnes seleccionadas</h6>
                                        <p>La carne es el centro de la propuesta de Mercagán.</p>
                                    </div>
                                </div>
                                <div class="fancy-box">
                                    <div class="item"><img src="assets/img/icon/aboutIcon1_2.svg" alt="icon"></div>
                                    <div class="item">
                                        <h6>Especialistas en parrilla</h6>
                                        <p>El menú incluye cortes, hamburguesas y preparaciones a la parrilla.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="marquee-wrapper style-1 text-slider section-padding pt-0">
            <div class="marquee-inner to-left">
                <ul class="marqee-list d-flex">
                    <li class="marquee-item style1">
                        <span class="text-slider"></span><span class="text-slider text-style">CARNES ESPECIALES</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CORTES A LA PARRILLA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">HAMBURGUESAS</span>
                        <span class="text-slider"></span><span class="text-slider text-style">LOMITO FINO</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CARNE OREADA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">PINCHOS</span>
                        <span class="text-slider"></span><span class="text-slider text-style">SABOR SANTANDEREANO</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CARNES ESPECIALES</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CORTES A LA PARRILLA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">HAMBURGUESAS</span>
                        <span class="text-slider"></span><span class="text-slider text-style">LOMITO FINO</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CARNE OREADA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">PINCHOS</span>
                        <span class="text-slider"></span><span class="text-slider text-style">SABOR SANTANDEREANO</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- Cta section  S T A R T -->
    <section class="cta-section fix">
        <div class="cta-wrapper style1  section-padding">
            <div class="shape1 float-bob-x d-none d-xxl-block"><img src="assets/img/shape/ctaShape1_1.png" alt="shape">
            </div>
            <div class="shape2 float-bob-y d-none d-xxl-block"><img src="assets/img/shape/ctaShape1_2.png" alt="shape">
            </div>
            <div class="shape3 float-bob-y d-none d-xxl-block"><img src="assets/img/shape/ctaShape1_3.png" alt="shape">
            </div>
            <div class="container">
                <div class="cta-wrap style1">
                    <div class="row">
                        <div class="col-xl-6 order-2 order-xl-1">
                            <div class="cta-content">
                                <h6 class="wow fadeInUp" data-wow-delay="0.5s">CONOCE MERCAGÁN</h6>
                                <h3 class="wow fadeInUp" data-wow-delay="0.7s">CARNES Y HAMBURGUESAS</h3>
                                <p class="wow fadeInUp" data-wow-delay="0.8s">Consulta el menú disponible en tu sede</p>
                                <a class="theme-btn wow fadeInUp" data-wow-delay="0.9s" routerLink="/menu">VER MENÚ <i
                                        class="fa-sharp fa-regular fa-arrow-right"></i></a>
                            </div>
                        </div>
                        <div class="col-xl-6 order-1 order-xl-2">
                            <div class="cta-thumb">
                                <img class="img-fluid float-bob-x" src="assets/img/cta/ctaThumb1_1.png" alt="thumb">
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <!-- Chefe Section    S T A R T -->
    <section class="chefe-section fix section-padding">
        <div class="chefe-wrapper style1">
            <div class="shape1 d-none d-xxl-block"><img class="float-bob-y" src="assets/img/shape/chefeShape1_1.png"
                    alt="shape"></div>
            <div class="shape2 d-none d-xxl-block"><img class="float-bob-x" src="assets/img/shape/chefeShape1_2.png"
                    alt="shape"></div>
            <div class="container">
                <div class="title-area">
                    <div class="sub-title text-center wow fadeInUp" data-wow-delay="0.5s">
                        <img class="me-1" src="assets/img/icon/titleIcon.svg" alt="icon">NUESTRA PROPUESTA<img class="ms-1"
                            src="assets/img/icon/titleIcon.svg" alt="icon">
                    </div>
                    <h2 class="title  wow fadeInUp" data-wow-delay="0.7s">
                        Sabores para compartir
                    </h2>
                </div>
                <div class="chefe-card-wrap style1 pb-5">
                    <div class="row">
                        <div class="col-lg-6 col-xl-4">
                            <div class="chefe-card style1 wow fadeInUp" data-wow-delay="0.2s">
                                <div class="chefe-thumb">
                                    <img src="assets/img/chefe/chefeThumb1_1.png" alt="thumb">
                                </div>
                                <div class="icon">
                                    <a class="hovered-icon" href="about-2.html#"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="about-2.html#"><i class="fa-light fa-share-nodes"></i></a>
                                    <a class="hovered-icon" href="about-2.html#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                                <div class="chefe-content">
                                    <a href="chef-details.html">
                                        <h3>Cortes a la parrilla</h3>
                                    </a>
                                    <p>Preparaciones de carne al término de tu preferencia</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4">
                            <div class="chefe-card style1 wow fadeInUp" data-wow-delay="0.4s">
                                <div class="chefe-thumb">
                                    <img src="assets/img/chefe/chefeThumb1_2.png" alt="thumb">
                                </div>
                                <div class="icon">
                                    <a class="hovered-icon" href="about-2.html#"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="about-2.html#"><i class="fa-light fa-share-nodes"></i></a>
                                    <a class="hovered-icon" href="about-2.html#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                                <div class="chefe-content">
                                    <a href="chef-details.html">
                                        <h3>Hamburguesas</h3>
                                    </a>
                                    <p>Una de las especialidades reconocidas de Mercagán</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-xl-4">
                            <div class="chefe-card style1 wow fadeInUp" data-wow-delay="0.5s">
                                <div class="chefe-thumb">
                                    <img src="assets/img/chefe/chefeThumb1_3.png" alt="thumb">
                                </div>
                                <div class="icon">
                                    <a class="hovered-icon" href="about-2.html#"><i class="fa-brands fa-facebook-f"></i></a>
                                    <a href="about-2.html#"><i class="fa-light fa-share-nodes"></i></a>
                                    <a class="hovered-icon" href="about-2.html#"><i class="fa-brands fa-linkedin-in"></i></a>
                                </div>
                                <div class="chefe-content">
                                    <a href="chef-details.html">
                                        <h3>Sabores de Santander</h3>
                                    </a>
                                    <p>Una propuesta nacida en Bucaramanga y presente en Bogotá</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slider-area pt-5 mt-4 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="swiper clientSliderOne">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="client-img text-center"><img src="assets/img/logo/clientLogo1_1.png"
                                        alt="logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="client-img text-center"><img src="assets/img/logo/clientLogo1_2.png"
                                        alt="logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="client-img text-center"><img src="assets/img/logo/clientLogo1_3.png"
                                        alt="logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="client-img text-center"><img src="assets/img/logo/clientLogo1_4.png"
                                        alt="logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="client-img text-center"><img src="assets/img/logo/clientLogo1_5.png"
                                        alt="logo">
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="client-img text-center"><img src="assets/img/logo/clientLogo1_6.png"
                                        alt="logo">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Testimonial Section    S T A R T -->
    <section class="testimonial-section fix bg-color3">
        <div class="testimonial-wrapper style1 section-padding ">
            <div class="shape"><img src="assets/img/testimonial/testimonialThumb1_1.png" alt="thumb"></div>
            <div class="shape2"><img src="assets/img/shape/testimonialShape1_1.png" alt="shape"></div>
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-xl-5 d-flex align-items-center justify-content-center">
                        <div class="video-wrap cir36 ">
                            <a href="https://www.youtube.com/watch?v=f2Gzr8sAGB8" class="play-btn popup-video"><img
                                    src="assets/img/shape/player.svg" alt="icon"></a>
                        </div>
                    </div>
                    <div class="col-xl-7">
                        <div class="title-area">
                            <div class="sub-title text-center wow fadeInUp" data-wow-delay="0.5s">
                                <img class="me-1" src="assets/img/icon/titleIcon.svg" alt="icon">EXPERIENCIA<img
                                    class="ms-1" src="assets/img/icon/titleIcon.svg" alt="icon">
                            </div>
                            <h2 class="title text-white wow fadeInUp" data-wow-delay="0.7s">
                                Lo que distingue a Mercagán
                            </h2>
                        </div>
                        <div class="slider-area">
                            <div class="swiper testmonialSliderOne">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="testimonial-card style1">
                                            <div class="testimonial-header">
                                                <div class="fancy-box">
                                                    <div class="item1"><img
                                                            src="assets/img/testimonial/testimonialProfile1_1.png"
                                                            alt="thumb"></div>
                                                    <div class="item2">
                                                        <h6>Mercagán Parrilla</h6>
                                                        <p>Bucaramanga y Bogotá</p>
                                                        <div class="icon"><img src="assets/img/icon/star.svg"
                                                                alt="icon"></div>
                                                    </div>
                                                    <div class="quote"><img src="assets/img/icon/quote.svg" alt="icon">
                                                    </div>
                                                </div>
                                            </div>

                                            <p>Las reseñas públicas destacan los cortes de carne, las hamburguesas y
                                                preparaciones tradicionales como la yuca. La oferta y disponibilidad
                                                pueden variar según la sede seleccionada.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="btn-wrap">
                <div class="arrow-prev"><i class="fa-regular fa-arrow-left"></i></div>
                <div class="arrow-next"><i class="fa-regular fa-arrow-right"></i></div>
            </div>
        </div>

        <div class="marquee-wrapper style-2 text-slider section-padding">
            <div class="marquee-inner to-left">
                <ul class="marqee-list d-flex">
                    <li class="marquee-item style-2">
                        <span class="text-slider"></span><span class="text-slider text-style">CARNES ESPECIALES</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CORTES A LA PARRILLA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">HAMBURGUESAS</span>
                        <span class="text-slider"></span><span class="text-slider text-style">LOMITO FINO</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CARNE OREADA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">PINCHOS</span>
                        <span class="text-slider"></span><span class="text-slider text-style">SABOR SANTANDEREANO</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CARNES ESPECIALES</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CORTES A LA PARRILLA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">HAMBURGUESAS</span>
                        <span class="text-slider"></span><span class="text-slider text-style">LOMITO FINO</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CARNE OREADA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">PINCHOS</span>
                        <span class="text-slider"></span><span class="text-slider text-style">SABOR SANTANDEREANO</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>



