    <!-- Banner Section   S T A R T -->
    <section class="banner-section fix">
        <div class="slider-area">
            <div #bannerSlider class="swiper banner2-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="banner-wrapper style2 bg-img">
                            <div class="shape1_1 d-none d-xxl-block float-bob-x" data-animation="slideInLeft"
                                data-duration="2s" data-delay=".3s"><img src="assets/img/shape/bannerShape2_1.svg"
                                    alt="shape"></div>
                            <div class="shape1_2 d-none d-xxl-block float-bob-y" data-animation="slideInLeft"
                                data-duration="2s" data-delay=".3s"><img src="assets/img/shape/bannerShape2_2.svg"
                                    alt="shape"></div>
                            <div class="shape1_3 d-none d-xxl-block" data-animation="slideInLeft" data-duration="3s"
                                data-delay="2s"><img src="assets/img/shape/bannerShape2_3.svg" alt="shape"></div>
                            <div class="shape1_4 d-none d-xxl-block float-bob-x" data-animation="slideInLeft"
                                data-duration="2s" data-delay=".3s"><img src="assets/img/shape/bannerShape2_4.svg"
                                    alt="shape"></div>
                            <div class="shape1_5 d-none d-xxl-block float-bob-y" data-animation="slideInLeft"
                                data-duration="2s" data-delay=".3s"><img src="assets/img/shape/bannerShape2_5.svg"
                                    alt="shape"></div>
                            <div class="shape1_6 d-none d-xxl-block cir36"><img
                                    src="assets/img/shape/bannerShape1_6.svg" alt="shape"></div>
                            <div class="overlay"></div>
                            <div class="banner-container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-xxl-6">
                                            <div class="banner-title-area">
                                                <div class="banner-style1">
                                                    <div class="section-title">
                                                        <h6 class="sub-title" data-animation="slideInRight"
                                                            data-duration="2s" data-delay=".3s"> DESDE 1999 </h6>
                                                        <h1 class="title" data-animation="slideInRight"
                                                            data-duration="2s" data-delay=".5s">
                                                            SABOR SANTANDEREANO
                                                        </h1>
                                                        <a class="theme-btn" routerLink="/menu"
                                                            data-animation="slideInRight" data-duration="2s"
                                                            data-delay=".7s">VER MENÚ <i
                                                                class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xxl-6 banner-image-column">
                                            <div class="banner-thumb-area" data-tilt data-animation="slideInRight"
                                                data-duration="2s" data-delay=".9s">
                                                <img src="assets/img/banner/bannerThumb2_1.png" alt="shape">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-wrapper style2 bg-img">
                            <div class="shape1_1 d-none d-xxl-block float-bob-x" data-animation="slideInLeft"
                                data-duration="2s" data-delay=".3s"><img src="assets/img/shape/bannerShape2_1.svg"
                                    alt="shape"></div>
                            <div class="shape1_2 d-none d-xxl-block float-bob-y" data-animation="slideInLeft"
                                data-duration="2s" data-delay=".3s"><img src="assets/img/shape/bannerShape2_2.svg"
                                    alt="shape"></div>
                            <div class="shape1_3 d-none d-xxl-block" data-animation="slideInLeft" data-duration="3s"
                                data-delay="2s"><img src="assets/img/shape/bannerShape2_3.svg" alt="shape"></div>
                            <div class="shape1_4 d-none d-xxl-block float-bob-x" data-animation="slideInLeft"
                                data-duration="2s" data-delay=".3s"><img src="assets/img/shape/bannerShape2_4.svg"
                                    alt="shape"></div>
                            <div class="shape1_5 d-none d-xxl-block float-bob-y" data-animation="slideInLeft"
                                data-duration="2s" data-delay=".3s"><img src="assets/img/shape/bannerShape2_5.svg"
                                    alt="shape"></div>
                            <div class="shape1_6 d-none d-xxl-block cir36"><img
                                    src="assets/img/shape/bannerShape1_6.svg" alt="shape"></div>
                            <div class="overlay"></div>
                            <div class="banner-container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-xxl-6">
                                            <div class="banner-title-area">
                                                <div class="banner-style1">
                                                    <div class="section-title">
                                                        <h6 class="sub-title" data-animation="slideInRight"
                                                            data-duration="2s" data-delay=".3s"> ESPECIALISTAS EN CARNES </h6>
                                                        <h1 class="title" data-animation="slideInRight"
                                                            data-duration="2s" data-delay=".5s">
                                                            CORTES A LA PARRILLA
                                                        </h1>
                                                        <a class="theme-btn" routerLink="/menu"
                                                            data-animation="slideInRight" data-duration="2s"
                                                            data-delay=".7s">VER MENÚ <i
                                                                class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xxl-6 banner-image-column">
                                            <div class="banner-thumb-area" data-tilt data-animation="slideInRight"
                                                data-duration="2s" data-delay=".9s">
                                                <img class="banner-second-thumb" src="assets/img/banner/bannerThumb2_2.png" alt="shape">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="banner-wrapper style2 bg-img">
                            <div class="shape1_1 d-none d-xxl-block float-bob-x" data-animation="slideInLeft"
                                data-duration="2s" data-delay=".3s"><img src="assets/img/shape/bannerShape2_1.svg"
                                    alt="shape"></div>
                            <div class="shape1_2 d-none d-xxl-block float-bob-y" data-animation="slideInLeft"
                                data-duration="2s" data-delay=".3s"><img src="assets/img/shape/bannerShape2_2.svg"
                                    alt="shape"></div>
                            <div class="shape1_3 d-none d-xxl-block" data-animation="slideInLeft" data-duration="3s"
                                data-delay="2s"><img src="assets/img/shape/bannerShape2_3.svg" alt="shape"></div>
                            <div class="shape1_4 d-none d-xxl-block float-bob-x" data-animation="slideInLeft"
                                data-duration="2s" data-delay=".3s"><img src="assets/img/shape/bannerShape2_4.svg"
                                    alt="shape"></div>
                            <div class="shape1_5 d-none d-xxl-block float-bob-y" data-animation="slideInLeft"
                                data-duration="2s" data-delay=".3s"><img src="assets/img/shape/bannerShape2_5.svg"
                                    alt="shape"></div>
                            <div class="shape1_6 d-none d-xxl-block cir36"><img
                                    src="assets/img/shape/bannerShape1_6.svg" alt="shape"></div>
                            <div class="overlay"></div>
                            <div class="banner-container">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-12 col-xxl-6">
                                            <div class="banner-title-area">
                                                <div class="banner-style1">
                                                    <div class="section-title">
                                                        <h6 class="sub-title" data-animation="slideInRight"
                                                            data-duration="2s" data-delay=".3s"> DE SANTANDER A BOGOTÁ </h6>
                                                        <h1 class="title" data-animation="slideInRight"
                                                            data-duration="2s" data-delay=".5s">
                                                            HAMBURGUESAS Y PARRILLA
                                                        </h1>
                                                        <a class="theme-btn" routerLink="/menu"
                                                            data-animation="slideInRight" data-duration="2s"
                                                            data-delay=".7s">ELEGIR SEDE <i
                                                                class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-xxl-6 banner-image-column">
                                            <div class="banner-thumb-area" data-tilt data-animation="slideInRight"
                                                data-duration="2s" data-delay=".9s">
                                                <img class="banner-third-thumb" src="assets/img/banner/bannerThumb2_3.png" alt="shape">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="button" class="arrow-prev2" aria-label="Banner anterior"><img src="assets/img/icon/arrowPrev.svg" alt=""></button>
                <button type="button" class="arrow-next2" aria-label="Banner siguiente"><img src="assets/img/icon/arrowNext.svg" alt=""></button>
                <div class="pagination-class2 swiper-pagination"></div>
            </div>
        </div>
    </section>

    <!-- Offer Section   S T A R T -->
    <div class="offer-section fix bg-color2 mt-5">
        <div class="offer-wrapper">
            <div class="container">
                <div class="row gy-4">
                    <div class="col-lg-6 col-xl-4">
                        <div class="offer-card style1 wow fadeInUp" data-wow-delay="0.2s"
                            style="background-image: url(assets/img/bg/offerBG2_1.jpg);">
                            <div class="offer-content">
                                <h6 class="text-white">TRADICIÓN DESDE 1999</h6>
                                <h3>CARNES DE SANTANDER</h3>
                                <p class="text-white">La esencia de nuestra parrilla</p>
                                <a routerLink="/menu" class="theme-btn style5">
                                    VER MENÚ <i class="fa-sharp fa-regular fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="offer-thumb">
                                <img class="thumbImg" src="assets/img/offer/offerThumb1_2.png" alt="thumb">
                                <div class="shape float-bob-x"><img src="assets/img/shape/offerShape1_4.png"
                                        alt="shape"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="offer-card style1 wow fadeInUp" data-wow-delay="0.5s"
                            style="background-image: url(assets/img/bg/offerBG2_2.jpg);">
                            <div class="offer-content">
                                <h6>ESPECIALIDAD MERCAGÁN</h6>
                                <h3>CORTES A LA PARRILLA</h3>
                                <p>Preparados al término de tu preferencia</p>
                                <a routerLink="/menu" class="theme-btn style4">
                                    VER MENÚ <i class="fa-sharp fa-regular fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="offer-thumb">
                                <img class="thumbImg" src="assets/img/offer/offerThumb1_3.png" alt="thumb">
                                <div class="shape float-bob-x"><img src="assets/img/shape/offerShape1_4.png"
                                        alt="shape"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-xl-4">
                        <div class="offer-card style1  wow fadeInUp" data-wow-delay="0.7s"
                            style="background-image: url(assets/img/bg/offerBG2_3.jpg);">
                            <div class="offer-content">
                                <h6 class="text-white">PARA COMPARTIR</h6>
                                <h3>HAMBURGUESAS</h3>
                                <p class="text-white">Una especialidad reconocida de la casa</p>
                                <a routerLink="/menu" class="theme-btn style4">
                                    VER MENÚ <i class="fa-sharp fa-regular fa-arrow-right"></i>
                                </a>
                            </div>
                            <div class="offer-thumb">
                                <img class="thumbImg" src="assets/img/offer/offerThumb1_1.png" alt="thumb">
                                <div class="shape float-bob-x"><img src="assets/img/shape/offerShape1_4.png"
                                        alt="shape"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- About Us Section   S T A R T -->
    <section class="about-us-section fix section-padding pt-0">
        <div class="about-wrapper style2">
            <div class="shape1 d-none d-xxl-block"><img src="assets/img/shape/aboutShape2_1.png" alt="shape"></div>
            <div class="container">
                <div class="about-us section-padding">
                    <div class="row d-flex align-items-center">
                        <div class="col-lg-6 d-flex align-items-center justify-content-center justify-content-xl-start">
                            <div class="about-thumb mb-5 mb-lg-0">
                                <img src="assets/img/about/aboutThumb2_1.png" alt="thumb">
                                <div class="video-wrap">
                                    <a href="https://www.youtube.com/watch?v=f2Gzr8sAGB8"
                                        class="play-btn popup-video"><img class="cir36"
                                            src="assets/img/shape/player.svg" alt="icon"></a>
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6">
                            <div class="title-area">
                                <div class="sub-title text-start wow fadeInUp" data-wow-delay="0.5s">
                                    <img class="me-1" src="assets/img/icon/titleIcon.svg" alt="icon">NOSOTROS<img
                                        class="ms-1" src="assets/img/icon/titleIcon.svg" alt="icon">
                                </div>
                                <h2 class="title text-start wow fadeInUp" data-wow-delay="0.7s">
                                    Parrilla con origen santandereano
                                </h2>
                                <div class="text text-start wow fadeInUp" data-wow-delay="0.8s">Desde 1999, Mercagán
                                    comparte carnes de novillos de Santander. Nuestra propuesta reúne cortes a la
                                    parrilla y hamburguesas en sedes de Santander y Bogotá.</div>
                            </div>
                            <div class="fancy-box-wrapper">
                                <div class="fancy-box">
                                    <div class="item"><img src="assets/img/icon/aboutIcon1_1.svg" alt="icon"></div>
                                    <div class="item">
                                        <h6>Carnes seleccionadas</h6>
                                        <p>La carne es el centro de la propuesta de Mercagán.</p>
                                    </div>
                                </div>
                                <div class="fancy-box">
                                    <div class="item"><img src="assets/img/icon/aboutIcon1_2.svg" alt="icon"></div>
                                    <div class="item">
                                        <h6>Especialidad en parrilla</h6>
                                        <p>Cortes, hamburguesas y preparaciones para compartir.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="marquee-wrapper style-1 text-slider section-padding pt-0">
            <div class="marquee-inner to-left">
                <ul class="marqee-list d-flex">
                    <li class="marquee-item style1">
                        <span class="text-slider"></span><span class="text-slider text-style">CARNES ESPECIALES</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CORTES A LA PARRILLA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">HAMBURGUESAS</span>
                        <span class="text-slider"></span><span class="text-slider text-style">LOMITO FINO</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CARNE OREADA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">PINCHOS</span>
                        <span class="text-slider"></span><span class="text-slider text-style">SABOR SANTANDEREANO</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CARNES ESPECIALES</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CORTES A LA PARRILLA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">HAMBURGUESAS</span>
                        <span class="text-slider"></span><span class="text-slider text-style">LOMITO FINO</span>
                        <span class="text-slider"></span><span class="text-slider text-style">CARNE OREADA</span>
                        <span class="text-slider"></span><span class="text-slider text-style">PINCHOS</span>
                        <span class="text-slider"></span><span class="text-slider text-style">SABOR SANTANDEREANO</span>
                    </li>
                </ul>
            </div>
        </div>
    </section>

    <!-- Cta section  S T A R T -->
    <section class="cta-section visitor-cta-section style-white fix">
      <div class="cta-wrapper style3">
        <div class="container">
          <div class="cta-wrap  section-padding pt-xl-0 pb-xl-0 style3">
            <div class="shape1 float-bob-x d-none d-xxl-block"><img src="assets/img/shape/ctaShape3_1.png"
                                                                    alt="shape"></div>
            <div class="shape2 float-bob-y d-none d-xxl-block"><img src="assets/img/shape/ctaShape3_2.png"
                                                                    alt="shape"></div>
            <div class="shape3 float-bob-y d-none d-xxl-block"><img src="assets/img/shape/ctaShape3_3.png"
                                                                    alt="shape"></div>
            <div class="shape4 d-none d-xxl-block"><img src="assets/img/shape/ctaShape3_4.png" alt="shape">
            </div>
            <div class="shape5 d-none d-xxl-block"><img src="assets/img/shape/ctaShape3_5.png" alt="shape">
            </div>
            <div class="shape6 d-none d-xxl-block"><img class="cir36" src="assets/img/shape/ctaShape3_6.png"
                                                        alt="shape"></div>
            <div class="shape7 d-none d-xxl-block"><img src="assets/img/shape/ctaShape3_7.png" alt="shape">
            </div>
            <div class="row g-5">
              <div class="col-xl-6  d-flex align-items-center justify-content-center order-2 order-xl-1">
                <div class="cta-content">
                  <h6 class="text-white wow fadeInUp" data-wow-delay="0.5s"><img class="me-1"
                                                                                  src="assets/img/icon/titleIconWhite.svg" alt="icon">TU MENÚ A UN ESCANEO<img
                    class="ms-1" src="assets/img/icon/titleIconWhite.svg" alt="icon"></h6>
                  <h3 class="wow fadeInUp" data-wow-delay="0.7s">Escanea y descubre<br>todo el sabor de Mercagán</h3>
                  <p class="qr-instruction wow fadeInUp" data-wow-delay="0.8s">Apunta la cámara de tu celular al código QR y accede al menú de Mercagán.</p>
                  <div class="btn-wrapper d-md-flex align-items-center gap-2">
                    <img class="qr-button-code wow fadeInUp" data-wow-delay="0.9s" src="assets/img/icon/qr.png" width="150" height="150" alt="Código QR para acceder al menú de Mercagán">
                  </div>

                </div>
              </div>
              <div
                class="col-xl-6 d-flex align-items-center justify-content-center justify-content-xl-start order-1 order-xl-2">
                <div class="cta-thumb">
                  <img class="img-fluid float-bob-x" src="assets/img/cta/ctaThumb3_1.png" alt="thumb">
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </section>

    <!-- Mercagán Menu Highlights -->
    <section class="popular-dishes-section fix section-padding">
        <div class="container">
            <div class="title-area">
                <div class="sub-title text-center wow fadeInUp" data-wow-delay="0.5s">
                    <img class="me-1" src="assets/img/icon/titleIcon.svg" alt="">NUESTRA CARTA<img class="ms-1" src="assets/img/icon/titleIcon.svg" alt="">
                </div>
                <h2 class="title wow fadeInUp" data-wow-delay="0.7s">Especialidades de Mercagán</h2>
                <p class="text-center">La disponibilidad puede variar según la sede seleccionada.</p>
            </div>
            <div class="dishes-card-wrap style2">
                @for (item of menuHighlights; track item.name) {
                    <article class="dishes-card style2 wow fadeInUp" [attr.data-wow-delay]="item.delay">
                        <div class="dishes-thumb">
                            <img [src]="item.image" [alt]="item.name">
                            <div class="circle-shape"><img class="cir36" src="assets/img/food-items/circleShape.png" alt=""></div>
                        </div>
                        <div class="dishes-content">
                            <h3>{{ item.name }}</h3>
                            <div class="text">{{ item.description }}</div>
                            <a routerLink="/menu" class="theme-btn style6">Ver menú <i class="fa-regular fa-basket-shopping"></i></a>
                        </div>
                    </article>
                }
            </div>
        </div>
    </section>


    <!-- Contact Section    S T A R T -->
    <section class="contact-section fix bg-color3">
        <div class="contact-shape">
            <img src="assets/img/shape/cta-shape.png" alt="img">
        </div>
        <div class="contact-wrapper style1 section-padding ">
            <div class="shape"><img src="assets/img/contact/contactThumb1_1.png" alt="thumb"></div>
            <div class="shape2"><img src="assets/img/contact/contactThumb1_2.jpg" alt="shape"></div>
            <div class="container">
                <div class="row g-5 d-flex justify-content-center">
                    <div
                        class="col-xl-5 d-flex align-items-center justify-content-center justify-content-md-start z-3 order-2 order-xl-1">
                        <div class="contact-card-wrap">
                            <div class="title-area">
                                <div class="sub-title text-white text-start wow fadeInUp" data-wow-delay="0.5s">
                                    <img class="me-1" src="assets/img/icon/titleIconWhite.svg" alt="icon">VISÍTANOS<img
                                        class="ms-1" src="assets/img/icon/titleIconWhite.svg" alt="icon">
                                </div>
                                <h2 class="title text-start text-white wow fadeInUp" data-wow-delay="0.7s">
                                    ¿Buscas un proveedor de carne y hamburguesas?
                                </h2>
                            </div>

                            <div class="contact-form style1">
                                <p class="text-white wow fadeInUp" data-wow-delay="0.2s">Conoce la oferta de Mercagán
                                    para negocios y solicita información sobre nuestros productos cárnicos y
                                    hamburguesas.</p>
                                <div class="d-flex flex-wrap gap-3 mt-4 wow fadeInUp" data-wow-delay="0.4s">
                                    <button type="button" class="theme-btn style5" (click)="openB2bModal()">IR A B2B <i class="fa-sharp fa-regular fa-arrow-right"></i></button>
                                    <a routerLink="/menu" class="theme-btn">VER MENÚ <i class="fa-sharp fa-regular fa-arrow-right"></i></a>
                                </div>
                            </div>


                        </div>
                    </div>
                    <div class="col-xl-7 d-flex align-items-center justify-content-center justify-content-md-center order-1 order-xl-2 wow fadeInUp"
                        data-wow-delay="0.2s">
                        <div class="video-wrap">
                            <a routerLink="/ubicaciones" class="play-btn"><img
                                    class="cir36" src="assets/img/shape/player.svg" alt="icon"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    @if (b2bModalOpen()) {
        <div class="b2b-modal-backdrop" role="presentation" (click)="$event.target === $event.currentTarget && closeB2bModal()">
            <section class="b2b-modal" role="dialog" aria-modal="true" aria-labelledby="b2b-modal-title" aria-describedby="b2b-modal-description">
                <button type="button" class="b2b-modal-close" aria-label="Cerrar formulario B2B" (click)="closeB2bModal()"><i class="fa-solid fa-xmark" aria-hidden="true"></i></button>
                <div class="b2b-modal-intro">
                    <p class="b2b-modal-eyebrow">COMPRAS PARA NEGOCIOS</p>
                    <h2 id="b2b-modal-title">Hablemos de tu negocio</h2>
                    <p id="b2b-modal-description">Cuéntanos qué necesitas y envía tu solicitud directamente al equipo de la sede que prefieras.</p>
                    <p class="b2b-branch-label">Elige la sede que atenderá tu solicitud</p>
                    <div class="b2b-department-selector" role="tablist" aria-label="Departamento de la sede">
                        @for (department of b2bDepartments; track department.name) {
                            <button type="button" role="tab" [class.is-active]="selectedB2bDepartment() === department.name" [attr.aria-selected]="selectedB2bDepartment() === department.name" (click)="selectB2bDepartment(department.name)">{{ department.navigationName }}</button>
                        }
                    </div>
                    <div class="b2b-branch-cards" role="list" aria-label="Sedes disponibles">
                        @for (branch of b2bBranches(); track branch.id) {
                            <button
                                type="button"
                                class="b2b-branch-card"
                                role="listitem"
                                [class.is-selected]="selectedB2bBranchId() === branch.id"
                                [attr.aria-pressed]="selectedB2bBranchId() === branch.id"
                                (click)="selectB2bBranch(branch.id)">
                                <img [src]="branch.image" [alt]="branch.name" loading="lazy">
                                <span><strong>{{ branch.shortName }}</strong><small>{{ branch.city ?? branch.region }}</small></span>
                                <i class="fa-solid fa-check" aria-hidden="true"></i>
                            </button>
                        }
                    </div>
                </div>
                <form class="b2b-form" (submit)="submitB2b($event)">
                    <label>Nombre completo<input type="text" name="name" autocomplete="name" required></label>
                    <label>Nombre del negocio<input type="text" name="business" autocomplete="organization" required></label>
                    <label>Teléfono o WhatsApp<input type="tel" name="phone" autocomplete="tel" inputmode="tel" required></label>
                    <label>Ciudad<input type="text" name="city" autocomplete="address-level2" required></label>
                    <fieldset class="b2b-form-full b2b-volume-options">
                        <legend>Compra estimada</legend>
                        <button type="button" [class.is-selected]="selectedB2bVolume() === 'Compra ocasional'" [attr.aria-pressed]="selectedB2bVolume() === 'Compra ocasional'" (click)="selectB2bVolume('Compra ocasional')">Compra ocasional</button>
                        <button type="button" [class.is-selected]="selectedB2bVolume() === 'Compra semanal'" [attr.aria-pressed]="selectedB2bVolume() === 'Compra semanal'" (click)="selectB2bVolume('Compra semanal')">Compra semanal</button>
                        <button type="button" [class.is-selected]="selectedB2bVolume() === 'Compra quincenal'" [attr.aria-pressed]="selectedB2bVolume() === 'Compra quincenal'" (click)="selectB2bVolume('Compra quincenal')">Compra quincenal</button>
                        <button type="button" [class.is-selected]="selectedB2bVolume() === 'Compra mensual'" [attr.aria-pressed]="selectedB2bVolume() === 'Compra mensual'" (click)="selectB2bVolume('Compra mensual')">Compra mensual</button>
                    </fieldset>
                    <label class="b2b-form-full">¿Qué productos buscas?<textarea name="details" rows="3" placeholder="Cuéntanos qué tipo de carnes, hamburguesas o productos necesitas."></textarea></label>
                    <button type="submit" class="theme-btn b2b-submit">Enviar por WhatsApp <i class="fa-brands fa-whatsapp" aria-hidden="true"></i></button>
                </form>
            </section>
        </div>
    }
